<NOTIFICATION ver="2" id="0000000000" siteid="000000000" siteurl="{{ siteUrl }}">
	<TO pid="0x00000000:0x00000000" name="{{ passport }}" />
	<MSG pri="1" id="0000000000">
		<SUBSCR url="" />
		<ACTION url="" />
		<BODY lang="3076" icon="">
			<TEXT>{{ message }}</TEXT>
		</BODY>
	</MSG>
</NOTIFICATION>
