<html>
	<head>
		<style type="text/css">
			body::-webkit-scrollbar {
				display: none;
			}

			html,
			body {
				-ms-overflow-style: none;
				overflow: hidden;
			}

			body {
				overflow-x: hidden;
			}
		</style>
	</head>

	<body style="padding: 0; margin: 0; overflow: hidden; -ms-scroll-limit: 0 0 0 0" scroll="no">
		<a style="padding: 0; margin: 0" href="{{ ad_url }}" target="_blank">
			<img border="0" src="http://{{ host }}/static/ad_images/{{ ad_img }}" />
		</a>
	</body>
</html>
